In [28]:
from pathlib import Path
import pandas as pd
import numpy as np

import trackpy as tp 
import mrcfile
import napari
import starfile
from skimage.morphology import extrema
from skimage.measure import label

In [2]:
tomogram_path = Path("/mnt/scratch/ribosomes/kas_k44a/isonet/corrected_iter30/ts_003_b10_rec_corrected.mrc").absolute()
segmentation_path = Path("/mnt/scratch/ribosomes/kas_k44a/eman2/segmentations/ts_003_b10_rec_corrected__good_ribosomes-6.922_seg.mrc").absolute()

ts_name = "ts_003"

In [3]:
tomogram_mrc = mrcfile.read(tomogram_path)
segmentation_mrc = mrcfile.read(segmentation_path)

In [4]:
viewer = napari.Viewer(ndisplay=3)
viewer.add_image(
    tomogram_mrc,
    name=ts_name,
    depiction="plane",
    blending="translucent",
    visible=False,
)
viewer.add_image(
    segmentation_mrc, 
    name="segmentation",
    depiction="volume",
    blending="translucent",
    colormap="gist_earth",
    visible=False,
)

In [26]:
hmax_df = extrema.h_maxima(
    segmentation_mrc,
    h = 0.5, 
)

In [29]:
maxes = label(hmax_df)

In [31]:
viewer.add_image(maxes)

In [23]:
tp_df = tp.locate(
    segmentation_mrc, 
    diameter = 5,
    separation = 5,
    minmass = 30,
    percentile = 80,
    threshold = 1,
)

In [24]:
viewer.add_points(
    tp_df[["z","y","x"]],
    blending="translucent",
    edge_color="red",
    edge_width=0.2,
    visible=False,
)

In [16]:
tp_df.describe()

,z,y,x,mass,size,ecc,signal,raw_mass,ep
count,918.000000,918.000000,918.000000,918.000000,918.000000,0.0,918.000000,918.000000,918.000000
mean,255.827433,458.586662,319.912222,521.734546,2.607624,NaN,4.942378,1685.874317,0.000893
std,60.588462,293.684624,240.655983,377.163474,0.218595,NaN,2.530684,1197.474269,0.000586
min,114.871987,8.101560,13.773277,62.015892,1.655092,NaN,2.288937,286.672279,0.000112
25%,207.767266,236.884421,117.644888,244.254635,2.512900,NaN,3.075759,816.881030,0.000448
50%,268.943921,362.621507,225.064311,418.696685,2.668259,NaN,4.220228,1323.138691,0.000739
75%,310.190698,628.485233,521.159551,696.319733,2.770904,NaN,6.223048,2183.807666,0.001197
max,390.226517,1120.008987,825.076515,2634.066018,2.928925,NaN,18.239968,8706.343185,0.003416

In [17]:
tomo_bin_factor = 10

rln_coordinates = ["rlnCoordinateZ", "rlnCoordinateY", "rlnCoordinateX"]
rln_angles = ["rlnAngleRot", "rlnAngleTilt", "rlnAnglePsi"]

# Load the segmentation data, identify particle positions, and write them to a star file
peaks = 

# Convert the peak coordinates to RELION's coordinate system
rln_df = pd.DataFrame(peaks * tomo_bin_factor, columns=rln_coordinates)

# Add random orientations to each peak
for angle in rln_angles:
    random_angles = np.random.randint(0, 179, size=len(rln_df.index))
    rln_df[angle] = random_angles

rln_df["rlnTomoName"] = ts_name

# Write the star file
starfile_name = f"peaks_abs{threshold_abs}_dist{min_peak_distance_px}_{ts_name}.star"
peaks_directory = Path("/mnt/scratch/ribosomes/kas_k44a/eman2/").absolute()
starfile.write(rln_df, peaks_directory / starfile_name, overwrite=True)

SyntaxError: invalid syntax (723774918.py, line 7)